[Desktop Entry]
Version=1.0
Type=Application
Name=gds3d
Comment=3D visualization editor for GDS layouts
Exec=gds3d
Icon=gds3d
Terminal=false
Categories=Graphics;Science;Engineering;
StartupNotify=true
